<h1>{{equipo.id}}</h1>
<p>{{equipo.name}}</p>
<p>{{equipo.tla}}</p>
<p>{{equipo.area.name}}</p>
<p>{{equipo.phone}}</p>
<p>{{equipo.website}}</p>
<p>{{equipo.email}}</p>
<p>{{equipo.founded}}</p>
<p>{{equipo.venue}}</p>
<img src="{{equipo.crestUrl}}" alt="Foto escudo">

        